/* div {
    border: solid thin;
    box-sizing:border-box;
} */

html, body {
    margin: 0;
    height: 100%;
}

div {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-size: 20px;

}

button, input, select, textarea {
    font-family : inherit;
    font-size : 100%;
    }

#container {
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    width : inherit;
    height: 64px;
    display: flex;
    background-color: #DDF0E4;
    border-bottom: #CEE2D9 solid 1px;
}

#logo {
    width : 64px;
    height: inherit;
    background-size: contain;
}

#inputBox {
    flex-grow: 1;
    height: inherit;
}

#inputArea {
    margin-top: 8px;
    width: 95%;
    line-height: 1em;
}

#submission {
    width : 136px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitButton {
    width : 128px;
    height: 56px;
    background-image: url("../images/sprig_normal.png");
    background-size: contain;
    border-radius: 6px;
}

#submitButton:hover {
    background-image: url("../images/sprig_hover.png");
}

#account {
    width : 200px;
    height: inherit;
}

#body {
    width : inherit;
    flex-grow: 1;
    display: flex;
}

#lSideBar {
    width : 64px;
    height: inherit;
    background-color: #DDF0E4;
}
#mainContainer {
    flex-grow: 1;
    height: inherit;
    display: flex;
    flex-direction: column;
}

#rSideBar {
    width : 64px;
    height: inherit;
}

#mainHeader {
    width : inherit;
    height: 48px;
    display: flex;
    background-color: #DDF0E4;
}
#selectionCmd {
    width : 240px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectionCmd div {
    width : 40px;
    height: 40px;
    border-radius: 6px;
}

.middleCmd {
    flex-grow: 1;
    height: inherit;
}
#viewCmd {
    width : 288px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#viewCmd div {
    width : 40px;
    height: 40px;
    border-radius: 6px;
}

#rSideBar {
    width : 72px;
    height: inherit;
    background-color: #DDF0E4;
}

#mainBody {
    width : inherit;
    background-color: #DDF0E4;
    background-image: url("../images/shisocho.png");
    background-position-x: center;
    flex-grow: 1;
}

#taskHeader {
    width : inherit;
    height: 56px;
    background-color: #FCFEFC;
    display :flex;
}

#taskHeader div {
    display :flex;
    align-items: center;
    justify-content: center;
}

#tasks {
    width : inherit;
    height: inherit;
    overflow: auto;
}

.task {
    width : inherit;
    height: 40px;
    background-color: #EEF4F2;
    display :flex;
    border-bottom: #DDE5E5 solid 1px;
}

.task div {
    display :flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .title {
    justify-content: left;
}

.task .title a {
    text-decoration: none;
}

#mainBody .selection {
    width : 40px;
    height: inherit;
}

#mainBody .star {
    width : 40px;
    height: inherit;
}

#mainBody .title {
    width : 240px;
    height: inherit;
}

#mainBody .start {
    width : 84px;
    height: inherit;
}

#mainBody .bar {
    flex-grow: 1;
    height: inherit;
}

#mainBody .deadline {
    width : 84px;
    height: inherit;
}

#mainBody .weight {
    width : 84px;
    height: inherit;
}

#mainBody .done {
    width : 30px;
    height: inherit;
}


#footer {
    width : inherit;
    height: 86px;
    background-color: #DDF0E4;
}

#inverseSelect {
    background-image: url("../images/cmd_i_normal.png");
    background-size: contain;
}

#inverseSelect:hover {
    background-image: url("../images/cmd_i_hover.png");
}

#eliminate {
    background-image: url("../images/cmd_e_normal.png");
    background-size: contain;
}

#eliminate:hover {
    background-image: url("../images/cmd_e_hover.png");
}

#create {
    background-image: url("../images/cmd_c_normal.png");
    background-size: contain;
}

#create:hover {
    background-image: url("../images/cmd_c_hover.png");
}

#reschedule {
    background-image: url("../images/cmd_r_normal.png");
    background-size: contain;
}

#reschedule:hover {
    background-image: url("../images/cmd_r_hover.png");
}

#linksOpen {
    background-image: url("../images/cmd_l_normal.png");
    background-size: contain;
}

#linksOpen:hover {
    background-image: url("../images/cmd_l_hover.png");
}

#focus {
    background-image: url("../images/cmd_f_normal.png");
    background-size: contain;
}

#focus:hover {
    background-image: url("../images/cmd_f_hover.png");
}

#archives {
    background-image: url("../images/cmd_a_normal.png");
    background-size: contain;
}

#archives:hover {
    background-image: url("../images/cmd_a_hover.png");
}

#trunk {
    background-image: url("../images/cmd_t_normal.png");
    background-size: contain;
}

#trunk:hover {
    background-image: url("../images/cmd_t_hover.png");
}

#buds {
    background-image: url("../images/cmd_b_normal.png");
    background-size: contain;
}

#buds:hover {
    background-image: url("../images/cmd_b_hover.png");
}

#home {
    background-image: url("../images/cmd_h_normal.png");
    background-size: contain;
}

#home:hover {
    background-image: url("../images/cmd_h_hover.png");
}

#criticalPath {
    background-image: url("../images/cmd_p_normal.png");
    background-size: contain;
}

#criticalPath:hover {
    background-image: url("../images/cmd_p_hover.png");
}
