/* div {
    border: solid thin;
} */

.dev {
    display: none !important;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

div {
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
    font-size: 2rem;
    box-sizing:border-box;
}

#container {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #DDF0E4;
    border-bottom: #CEE2D9 solid 1px;
}

#logo {
    width : 64px;
    height: inherit;
    background-size: contain;
    /* background-image: url("../images/logo.png"); */
}

#inputBox {
    flex-grow: 1;
    width: 0;
    height: inherit;
    z-index: 50;
}

#inputArea {
    font-family : inherit;
    font-size : 2rem;
    line-height: 1em;
    margin-top: 8px;
    width: calc(100% - 16px);
    max-width: calc(100vw - 128px);
    height: 42px;
    max-height: calc(100vh - 24px);
    background-image: url("../images/guide.png");
    background-size: 2.404em;
}

#inputArea.hard {
    width: calc(100vw - 128px);
    height: calc(100vh - 24px);
}

#submission {
    width : 136px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submitButton {
    width : 128px;
    height: 56px;
    background-image: url("../images/sprig_normal.png");
    background-size: contain;
    border-radius: 6px;
}

#submitButton:hover {
    background-image: url("../images/sprig_hover.png");
}

#account {
    width : 200px;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body {
    width : inherit;
    flex-grow: 1;
    display: flex;
}

#lSideBar {
    width : 64px;
    height: inherit;
    background-color: #DDF0E4;
}

#staticIconsBox {
    width : inherit;
    height: 232px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 104px;
}

#staticIconsBox div {
    width : 40px;
    height: 40px;
    border-radius: 6px;
}

#mainContainer {
    flex-grow: 1;
    height: inherit;
    display: flex;
    flex-direction: column;
}

#mainHeader {
    width : inherit;
    height: 48px;
    display: flex;
    background-color: #DDF0E4;
}

#selectionCmdBox {
    width : 184px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selectionCmdBox div {
    width : 40px;
    height: 40px;
    border-radius: 6px;
}

.messageBox {
    flex-grow: 1;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewCmdBox {
    width : 184px;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#viewCmdBox div {
    width : 40px;
    height: 40px;
    border-radius: 6px;
}

#rSideBar {
    width : 48px;
    height: inherit;
    background-color: #DDF0E4;
}

#mainBody {
    width : inherit;
    background-color: #DDF0E4;
    background-image: url("../images/shisocho.png");
    background-position-x: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#taskHeader {
    width : inherit;
    height: 56px;
    background-color: #FCFEFC;
    display :flex;
}

#taskHeader div {
    display :flex;
    align-items: center;
    justify-content: center;
}

#tasks {
    width : inherit;
    height: 0;
    flex-grow: 1;
    overflow-y: scroll;
}

.task {
    width : inherit;
    height: 40px;
    display :flex;
    border-bottom: #DDE5E5 solid 1px;
    background-color: #EEF4F2;
}

.focused .indicator {
    background-color: #769BA9;
}

.selected {
    background-color: #C2DBFF;
}

.executable .startable {
    background-color: #E1F4C9;
}

.expired .deadline {
    background-color: #E1F4C9;
}

.overload .weight {
    background-color: #E1F4C9;
}

.task div {
    display :flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .title {
    justify-content: left;
}

.task .title a {
    text-decoration: none;
}

#mainBody .indicator {
    width : 3px;
    height: inherit;
}

#mainBody .selection {
    width : 40px;
    height: inherit;
}

#mainBody .star {
    width : 40px;
    height: inherit;
}

#mainBody .title {
    width : 240px;
    height: inherit;
}

#mainBody .startable {
    width : 84px;
    height: inherit;
}

#mainBody .bar {
    flex-grow: 1;
    height: inherit;
}

#mainBody .deadline {
    width : 84px;
    height: inherit;
}

#mainBody .weight {
    width : 84px;
    height: inherit;
}

#mainBody .assign {
    width : 84px;
    height: inherit;
    padding-right: 6px;
}

.scroll {
    width : 16px;
    height: inherit;
    background-color: #DDF0E4;
}

#footer {
    width : inherit;
    height: 8px;
    background-color: #DDF0E4;
}

#inverseSelect {
    background-image: url("../images/cmd_i_normal.png");
    background-size: contain;
}

#inverseSelect:hover {
    background-image: url("../images/cmd_i_hover.png");
}

#eliminate {
    background-image: url("../images/cmd_e_normal.png");
    background-size: contain;
}

#eliminate:hover {
    background-image: url("../images/cmd_e_hover.png");
}

#clone {
    background-image: url("../images/cmd_c_normal.png");
    background-size: contain;
}

#clone:hover {
    background-image: url("../images/cmd_c_hover.png");
}

#focus {
    background-image: url("../images/cmd_f_normal.png");
    background-size: contain;
}

#focus:hover {
    background-image: url("../images/cmd_f_hover.png");
}

#archives {
    background-image: url("../images/cmd_a_normal.png");
    background-size: contain;
}

#archives:hover {
    background-image: url("../images/cmd_a_hover.png");
}

#trunks {
    background-image: url("../images/cmd_t_normal.png");
    background-size: contain;
}

#trunks:hover {
    background-image: url("../images/cmd_t_hover.png");
}

#buds {
    background-image: url("../images/cmd_b_normal.png");
    background-size: contain;
}

#buds:hover {
    background-image: url("../images/cmd_b_hover.png");
}

#home {
    background-image: url("../images/cmd_h_normal.png");
    background-size: contain;
}

#home:hover {
    background-image: url("../images/cmd_h_hover.png");
}

#changeDot {
    background-image: url("../images/cmd_0_normal.png");
    background-size: contain;
}

#asOfShift {
    background-image: url("../images/cmd_wo_normal.png");
    background-size: contain;
}

#upAndDown {
    background-image: url("../images/cmd_jk_normal.png");
    background-size: contain;
}

#switchSelect {
    background-image: url("../images/cmd_x_normal.png");
    background-size: contain;
}

#switchStar {
    background-image: url("../images/cmd_s_normal.png");
    background-size: contain;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 16px;
}

#tasks::-webkit-scrollbar-track {
    background: #DDF0E4;
}
